#### MYSQL과 Python 연동하기 <hr>

In [1]:
import pymysql
import pandas as pd

In [2]:
conn = pymysql.connect(host = 'localhost', user = 'root', password = '2357',
                       db = 'sakila', charset = 'utf8')
cur = conn.cursor()
cur.execute('select * from language')
rows = cur.fetchall()  # 모든 데이터를 가져옴
print(rows)
language_df = pd.DataFrame(rows)
print(language_df)

cur.close()
conn.close()  # 데이터베이스 연결 종료

((1, 'English', datetime.datetime(2006, 2, 15, 5, 2, 19)), (2, 'Italian', datetime.datetime(2006, 2, 15, 5, 2, 19)), (3, 'Japanese', datetime.datetime(2006, 2, 15, 5, 2, 19)), (4, 'Mandarin', datetime.datetime(2006, 2, 15, 5, 2, 19)), (5, 'French', datetime.datetime(2006, 2, 15, 5, 2, 19)), (6, 'German', datetime.datetime(2006, 2, 15, 5, 2, 19)))
   0         1                   2
0  1   English 2006-02-15 05:02:19
1  2   Italian 2006-02-15 05:02:19
2  3  Japanese 2006-02-15 05:02:19
3  4  Mandarin 2006-02-15 05:02:19
4  5    French 2006-02-15 05:02:19
5  6    German 2006-02-15 05:02:19

- inner join  내용

In [3]:
conn = pymysql.connect(host = 'localhost', user = 'root', password = '2357',
                       db = 'sakila', charset = 'utf8')

cur = conn.cursor()
query = """
select c.email
from customer as c
    inner join rental as r
    on c.customer_id = r.customer_id
where date(r.rental_date) = (%s)"""

cur.execute(query, ('2005-06-14'))
rows = cur.fetchall()
for row in rows:
    print(row)

cur.close()
conn.close()

('CATHERINE.CAMPBELL@sakilacustomer.org',)
('JOYCE.EDWARDS@sakilacustomer.org',)
('AMBER.DIXON@sakilacustomer.org',)
('JEANETTE.GREENE@sakilacustomer.org',)
('MINNIE.ROMERO@sakilacustomer.org',)
('GWENDOLYN.MAY@sakilacustomer.org',)
('SONIA.GREGORY@sakilacustomer.org',)
('MIRIAM.MCKINNEY@sakilacustomer.org',)
('CHARLES.KOWALSKI@sakilacustomer.org',)
('DANIEL.CABRAL@sakilacustomer.org',)
('MATTHEW.MAHAN@sakilacustomer.org',)
('JEFFERY.PINSON@sakilacustomer.org',)
('HERMAN.DEVORE@sakilacustomer.org',)
('ELMER.NOE@sakilacustomer.org',)
('TERRANCE.ROUSH@sakilacustomer.org',)
('TERRENCE.GUNDERSON@sakilacustomer.org',)

In [4]:
def create_table(conn, cur):
    try:
        query1 = 'drop table if exists customer'
        query2 = """
            create table customer
            (name varchar(10),
            category smallint,
            region varchar(10))
        """
        cur.execute(query1)
        cur.execute(query2)
        conn.commit()
        print('Table 생성 완료')
    
    except Exception as e:
        print(e)

In [5]:
def main():
    # 데이터베이스(sqlclass_db) 연결
    conn = pymysql.connect(host = 'localhost',
                           user = 'root', password = '2357',
                           db = 'sqlclass_db', charset = 'utf8')
    
    # cursor 객체 생성
    cur = conn.cursor()

    # 테이블 생성 함수 호출
    create_table(conn, cur)

    # 연결 종료
    cur.close()
    conn.close()
    print('Database 연결 종료')

main()

Table 생성 완료
Database 연결 종료

- execute() 예제

In [6]:
conn = pymysql.connect(host = 'localhost',
                           user = 'root', password = '2357',
                           db = 'sqlclass_db', charset = 'utf8')

curs = conn.cursor()
sql = """insert into customer(name, category, region)
            values (%s, %s, %s)"""

curs.execute(sql, ('홍길동', 1, '서울'))
curs.execute(sql, ('이연수', 2, '서울'))

conn.commit()
print('INSERT 완료')

curs.close()
conn.close()

INSERT 완료

- executemany() : 여러 개의 tuple 데이터를 처리

In [7]:
conn = pymysql.connect(host = 'localhost',
                           user = 'root', password = '2357',
                           db = 'sqlclass_db', charset = 'utf8')

curs = conn.cursor()
sql = """insert into customer(name, category, region)
            values (%s, %s, %s)"""

data = (
    ('홍진우', 1, '서울'),
    ('강지수', 2, '부산'),
    ('김청진', 1, '대구'),
)

curs.executemany(sql, data)

conn.commit()
print('INSERT 완료')

curs.close()
conn.close()

INSERT 완료

- UPDATE, DELETE

In [11]:
conn = pymysql.connect(host='localhost', user='root', password = '2357',
                       db = 'sqlclass_db', charset='utf8')

curs = conn.cursor()
sql = """update customer
         set region = '서울특별시'
         where region = '서울'"""
curs.execute(sql)
print('update 완료')

sql = 'delete from customer where name = %s'
curs.execute(sql, '홍길동')
print('delete 홍길동')
conn.commit()
conn.close()

update 완료
delete 홍길동

In [88]:
conn = pymysql.connect(host = 'localhost', user = 'root', password = '2357',
                       db = 'shoppingmall', charset = 'utf8')

cur = conn.cursor()
query = """
select b.userID, userName, addr, concat(u.mobile1, u.mobile2) as 연락
from buy_table as b
	inner join user_table as u
	on u.userID = b.userID
where addr in ('경북', '경남')
order by b.userID"""

print('문제 5번')
print('-' * 40)
print(f"{'userID'}  {'userName'}   {'addr'}      {'연락처'}")
print('-' * 40)

cur.execute(query)
rows = cur.fetchall()
for row in rows:
    print(row)

cur.close()
conn.close()

문제 5번
----------------------------------------
userID  userName   addr      연락처
----------------------------------------
('KHD', '강호동', '경북', '01122222222')
('KHD', '강호동', '경북', '01122222222')
('KHD', '강호동', '경북', '01122222222')
('KJD', '김제동', '경남', None)