## [ HTML ==> DataFrame으로 저장 ]

(1) 모듈 로딩

In [1]:
import pandas as pd

(2) 데이터 준비

In [2]:
file = '../DATA/test.html'

(3) HTML

In [9]:
import lxml
testDF = pd.read_html(file, encoding = 'utf-8')

In [10]:
testDF

[    0      1   2
 0  번호     이름  전공
 1   1    홍길동  의적
 2   2    마징가  로봇
 3   4    베트맨  박쥐
 4   5  스파이더맨  거미,
      0     1   2
 0  과일명    가격  수량
 1   사과  1000  32
 2  바나나  3000  10
 3   수박  5800   2]

In [11]:
type(testDF)

list

In [13]:
print(testDF[0], testDF[1], sep = '\n\n')

    0      1   2
0  번호     이름  전공
1   1    홍길동  의적
2   2    마징가  로봇
3   4    베트맨  박쥐
4   5  스파이더맨  거미

     0     1   2
0  과일명    가격  수량
1   사과  1000  32
2  바나나  3000  10
3   수박  5800   2