## 남북한발전전력량

In [8]:
import pandas as pd
import numpy as np

In [205]:
filename = '../DATA/남북한발전전력량.xlsx'

In [206]:
wattageDF = pd.read_excel(filename)

In [207]:
wattageDF

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [208]:
wattageDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   전력량 (억㎾h)  2 non-null      object
 1   발전 전력별     9 non-null      object
 2   1990       9 non-null      object
 3   1991       9 non-null      object
 4   1992       9 non-null      object
 5   1993       9 non-null      object
 6   1994       9 non-null      object
 7   1995       9 non-null      object
 8   1996       9 non-null      object
 9   1997       9 non-null      object
 10  1998       9 non-null      object
 11  1999       9 non-null      object
 12  2000       9 non-null      object
 13  2001       9 non-null      object
 14  2002       9 non-null      object
 15  2003       9 non-null      object
 16  2004       9 non-null      object
 17  2005       9 non-null      object
 18  2006       9 non-null      object
 19  2007       9 non-null      object
 20  2008       9 non-null      object
 21  2009       9 non-null      object
 22  2010       9 non-null      object
 23  2011       9 non-null      object
 24  2012       9 non-null      object
 25  2013       9 non-null      object
 26  2014       9 non-null      object
 27  2015       9 non-null      object
 28  2016       9 non-null      object
dtypes: object(29)
memory usage: 2.2+ KB

In [209]:
wattageDF.loc[len(wattageDF)] = '-'
wattageDF.loc[len(wattageDF) - 1, wattageDF.columns[0]] = np.nan
wattageDF.loc[len(wattageDF) - 1, wattageDF.columns[1]] = '신재생'

In [210]:
wattageDF

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
9,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [211]:
wattageDF2 = wattageDF.set_index(['전력량 (억㎾h)', '발전 전력별'])

In [212]:
wattageDF2

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
NaN       수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        -     -     -     -     -     -     -     -     -     -
북한        합계       277   263   247   221   231   230   213   193   170   186
NaN       수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        -     -     -     -     -     -     -     -     -     -
          신재생        -     -     -     -     -     -     -     -     -     -

                  ...  2007  2008  2009  2010  2011  2012  2013  2014  2015  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4031  4224  4336  4747  4969  5096  5171  5220  5281
NaN       수력      ...    50    56    56    65    78    77    84    78    58
          화력      ...  2551  2658  2802  3196  3343  3430  3581  3427  3402
          원자력     ...  1429  1510  1478  1486  1547  1503  1388  1564  1648
          신재생     ...     -     -     -     -     -    86   118   151   173
북한        합계      ...   236   255   235   237   211   215   221   216   190
NaN       수력      ...   133   141   125   134   132   135   139   130   100
          화력      ...   103   114   110   103    79    80    82    86    90
          원자력     ...     -     -     -     -     -     -     -     -     -
          신재생     ...     -     -     -     -     -     -     -     -     -

                  2016
전력량 (억㎾h) 발전 전력별
남한        합계      5404
NaN       수력        66
          화력      3523
          원자력     1620
          신재생      195
북한        합계       239
NaN       수력       128
          화력       111
          원자력        -
          신재생        -

[10 rows x 27 columns]

In [146]:
# 결측치 없음
wattageDF2.isna().sum()

1990    0
1991    0
1992    0
1993    0
1994    0
1995    0
1996    0
1997    0
1998    0
1999    0
2000    0
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
dtype: int64

In [213]:
# 문자열 '-'을 정수 0으로 대체
wattageDF2.replace('-', '0', inplace = True)

In [214]:
wattageDF2

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
NaN       수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        0     0     0     0     0     0     0     0     0     0
북한        합계       277   263   247   221   231   230   213   193   170   186
NaN       수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        0     0     0     0     0     0     0     0     0     0
          신재생        0     0     0     0     0     0     0     0     0     0

                  ...  2007  2008  2009  2010  2011  2012  2013  2014  2015  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4031  4224  4336  4747  4969  5096  5171  5220  5281
NaN       수력      ...    50    56    56    65    78    77    84    78    58
          화력      ...  2551  2658  2802  3196  3343  3430  3581  3427  3402
          원자력     ...  1429  1510  1478  1486  1547  1503  1388  1564  1648
          신재생     ...     0     0     0     0     0    86   118   151   173
북한        합계      ...   236   255   235   237   211   215   221   216   190
NaN       수력      ...   133   141   125   134   132   135   139   130   100
          화력      ...   103   114   110   103    79    80    82    86    90
          원자력     ...     0     0     0     0     0     0     0     0     0
          신재생     ...     0     0     0     0     0     0     0     0     0

                  2016
전력량 (억㎾h) 발전 전력별
남한        합계      5404
NaN       수력        66
          화력      3523
          원자력     1620
          신재생      195
북한        합계       239
NaN       수력       128
          화력       111
          원자력        0
          신재생        0

[10 rows x 27 columns]

In [215]:
wattageDF2.astype(int)

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
NaN       수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        0     0     0     0     0     0     0     0     0     0
북한        합계       277   263   247   221   231   230   213   193   170   186
NaN       수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        0     0     0     0     0     0     0     0     0     0
          신재생        0     0     0     0     0     0     0     0     0     0

                  ...  2007  2008  2009  2010  2011  2012  2013  2014  2015  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4031  4224  4336  4747  4969  5096  5171  5220  5281
NaN       수력      ...    50    56    56    65    78    77    84    78    58
          화력      ...  2551  2658  2802  3196  3343  3430  3581  3427  3402
          원자력     ...  1429  1510  1478  1486  1547  1503  1388  1564  1648
          신재생     ...     0     0     0     0     0    86   118   151   173
북한        합계      ...   236   255   235   237   211   215   221   216   190
NaN       수력      ...   133   141   125   134   132   135   139   130   100
          화력      ...   103   114   110   103    79    80    82    86    90
          원자력     ...     0     0     0     0     0     0     0     0     0
          신재생     ...     0     0     0     0     0     0     0     0     0

                  2016
전력량 (억㎾h) 발전 전력별
남한        합계      5404
NaN       수력        66
          화력      3523
          원자력     1620
          신재생      195
북한        합계       239
NaN       수력       128
          화력       111
          원자력        0
          신재생        0

[10 rows x 27 columns]

In [216]:
wattageDF2 = wattageDF2.astype(int)

In [217]:
wattageDF2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10 entries, ('남한', '합계') to (nan, '신재생')
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1990    10 non-null     int32
 1   1991    10 non-null     int32
 2   1992    10 non-null     int32
 3   1993    10 non-null     int32
 4   1994    10 non-null     int32
 5   1995    10 non-null     int32
 6   1996    10 non-null     int32
 7   1997    10 non-null     int32
 8   1998    10 non-null     int32
 9   1999    10 non-null     int32
 10  2000    10 non-null     int32
 11  2001    10 non-null     int32
 12  2002    10 non-null     int32
 13  2003    10 non-null     int32
 14  2004    10 non-null     int32
 15  2005    10 non-null     int32
 16  2006    10 non-null     int32
 17  2007    10 non-null     int32
 18  2008    10 non-null     int32
 19  2009    10 non-null     int32
 20  2010    10 non-null     int32
 21  2011    10 non-null     int32
 22  2012    10 non-null     int32
 23  2013    10 non-null     int32
 24  2014    10 non-null     int32
 25  2015    10 non-null     int32
 26  2016    10 non-null     int32
dtypes: int32(27)
memory usage: 1.6+ KB

In [218]:
wattageDF2.sum(axis = 1)

전력량 (억㎾h)  발전 전력별
남한         합계        88523
NaN        수력         1599
           화력        55136
           원자력       31067
           신재생         723
북한         합계         5914
NaN        수력         3408
           화력         2506
           원자력           0
           신재생           0
dtype: int64

In [219]:
wattageDF2.sum(axis = 1).values

array([88523,  1599, 55136, 31067,   723,  5914,  3408,  2506,     0,
           0], dtype=int64)

In [106]:
# wattageDF['총합'] = wattageDF2.sum(axis = 1).values

In [220]:
wattageDF['발전 전력별']

0     합계
1     수력
2     화력
3    원자력
4    신재생
5     합계
6     수력
7     화력
8    원자력
9    신재생
Name: 발전 전력별, dtype: object

In [221]:
wattageDF['전력량 (억㎾h)']

0     남한
1    NaN
2    NaN
3    NaN
4    NaN
5     북한
6    NaN
7    NaN
8    NaN
9    NaN
Name: 전력량 (억㎾h), dtype: object

In [222]:
wattageDF['총합'] = wattageDF2.sum(axis = 1).values

In [223]:
wattageDF

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,총합
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4224,4336,4747,4969,5096,5171,5220,5281,5404,88523
1,NaN,수력,64,51,49,60,41,55,52,54,...,56,56,65,78,77,84,78,58,66,1599
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2658,2802,3196,3343,3430,3581,3427,3402,3523,55136
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1510,1478,1486,1547,1503,1388,1564,1648,1620,31067
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,86,118,151,173,195,723
5,북한,합계,277,263,247,221,231,230,213,193,...,255,235,237,211,215,221,216,190,239,5914
6,NaN,수력,156,150,142,133,138,142,125,107,...,141,125,134,132,135,139,130,100,128,3408
7,NaN,화력,121,113,105,88,93,88,88,86,...,114,110,103,79,80,82,86,90,111,2506
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,0
9,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,0

## 시도별 전출입 인구수

In [74]:
filename = '../DATA/시도별 전출입 인구수.xlsx'

In [75]:
migrationDF = pd.read_excel(filename)
migrationDF.index

RangeIndex(start=0, stop=325, step=1)

In [76]:
migrationDF = pd.read_excel(filename)
migrationDF

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,전출지별,전입지별,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),...,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명)
1,전국,전국,4046536,4210164,3687938,4860418,5297969,9011440,6773250,7397623,...,8808256,8487275,8226594,8127195,7506691,7411784,7629098,7755286,7378430,7154226
2,NaN,서울특별시,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
3,NaN,부산광역시,448577,389797,362202,482061,680984,805979,724664,785117,...,514502,519310,519334,508043,461042,478451,485710,507031,459015,439073
4,NaN,대구광역시,-,-,-,-,-,-,-,-,...,409938,398626,370817,370563,348642,351873,350213,351424,328228,321182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,NaN,전라북도,139,202,141,210,219,415,392,408,...,668,579,672,561,551,516,609,683,733,768
321,NaN,전라남도,631,965,857,952,1133,2808,2608,2652,...,1143,1123,1002,1026,966,1001,928,1062,1127,1102
322,NaN,경상북도,374,619,468,576,625,1123,1141,1004,...,761,704,738,756,699,781,728,903,931,994
323,NaN,경상남도,474,479,440,571,1208,1517,863,1122,...,1517,1474,1324,1367,1227,1278,1223,1500,1448,1501
324,NaN,제주특별자치도,9290,12427,12210,16158,19580,34221,23291,31028,...,59564,55673,55507,59846,54280,60607,59673,59036,66444,63275

In [77]:
migrationDF.isna()

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
321,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
322,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
323,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
324,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [78]:
migrationDF.isna().sum()

전출지별    306
전입지별      0
1970      0
1971      0
1972      0
1973      0
1974      0
1975      0
1976      0
1977      0
1978      0
1979      0
1980      0
1981      0
1982      0
1983      0
1984      0
1985      0
1986      0
1987      0
1988      0
1989      0
1990      0
1991      0
1992      0
1993      0
1994      0
1995      0
1996      0
1997      0
1998      0
1999      0
2000      0
2001      0
2002      0
2003      0
2004      0
2005      0
2006      0
2007      0
2008      0
2009      0
2010      0
2011      0
2012      0
2013      0
2014      0
2015      0
2016      0
2017      0
dtype: int64

In [79]:
# 결측치 확인
for i in migrationDF.isna().sum():
    if i != 0:
        print('결측치 있음')

결측치 있음

In [80]:
migrationDF.set_index(['전출지별', '전입지별'], inplace = True)

In [81]:
migrationDF

                  1970      1971      1972      1973      1974      1975  \
전출지별 전입지별
전출지별 전입지별     이동자수 (명)  이동자수 (명)  이동자수 (명)  이동자수 (명)  이동자수 (명)  이동자수 (명)
전국   전국        4046536   4210164   3687938   4860418   5297969   9011440
NaN  서울특별시     1742813   1671705   1349333   1831858   2050392   3396662
     부산광역시      448577    389797    362202    482061    680984    805979
     대구광역시           -         -         -         -         -         -
...                ...       ...       ...       ...       ...       ...
     전라북도          139       202       141       210       219       415
     전라남도          631       965       857       952      1133      2808
     경상북도          374       619       468       576       625      1123
     경상남도          474       479       440       571      1208      1517
     제주특별자치도      9290     12427     12210     16158     19580     34221

                  1976      1977      1978      1979  ...      2008      2009  \
전출지별 전입지별                                             ...
전출지별 전입지별     이동자수 (명)  이동자수 (명)  이동자수 (명)  이동자수 (명)  ...  이동자수 (명)  이동자수 (명)
전국   전국        6773250   7397623   8410276   7324380  ...   8808256   8487275
NaN  서울특별시     2756510   2893403   3307439   2589667  ...   2025358   1873188
     부산광역시      724664    785117    895337    809483  ...    514502    519310
     대구광역시           -         -         -         -  ...    409938    398626
...                ...       ...       ...       ...  ...       ...       ...
     전라북도          392       408       363       354  ...       668       579
     전라남도         2608      2652      2722      2178  ...      1143      1123
     경상북도         1141      1004      1009       818  ...       761       704
     경상남도          863      1122      1331      1290  ...      1517      1474
     제주특별자치도     23291     31028     30719     30064  ...     59564     55673

                  2010      2011      2012      2013      2014      2015  \
전출지별 전입지별
전출지별 전입지별     이동자수 (명)  이동자수 (명)  이동자수 (명)  이동자수 (명)  이동자수 (명)  이동자수 (명)
전국   전국        8226594   8127195   7506691   7411784   7629098   7755286
NaN  서울특별시     1733015   1721748   1555281   1520090   1573594   1589431
     부산광역시      519334    508043    461042    478451    485710    507031
     대구광역시      370817    370563    348642    351873    350213    351424
...                ...       ...       ...       ...       ...       ...
     전라북도          672       561       551       516       609       683
     전라남도         1002      1026       966      1001       928      1062
     경상북도          738       756       699       781       728       903
     경상남도         1324      1367      1227      1278      1223      1500
     제주특별자치도     55507     59846     54280     60607     59673     59036

                  2016      2017
전출지별 전입지별
전출지별 전입지별     이동자수 (명)  이동자수 (명)
전국   전국        7378430   7154226
NaN  서울특별시     1515602   1472937
     부산광역시      459015    439073
     대구광역시      328228    321182
...                ...       ...
     전라북도          733       768
     전라남도         1127      1102
     경상북도          931       994
     경상남도         1448      1501
     제주특별자치도     66444     63275

[325 rows x 48 columns]

In [82]:
migrationDF.index

MultiIndex([('전출지별',    '전입지별'),
            (  '전국',      '전국'),
            (   nan,   '서울특별시'),
            (   nan,   '부산광역시'),
            (   nan,   '대구광역시'),
            (   nan,   '인천광역시'),
            (   nan,   '광주광역시'),
            (   nan,   '대전광역시'),
            (   nan,   '울산광역시'),
            (   nan, '세종특별자치시'),
            ...
            (   nan, '세종특별자치시'),
            (   nan,     '경기도'),
            (   nan,     '강원도'),
            (   nan,    '충청북도'),
            (   nan,    '충청남도'),
            (   nan,    '전라북도'),
            (   nan,    '전라남도'),
            (   nan,    '경상북도'),
            (   nan,    '경상남도'),
            (   nan, '제주특별자치도')],
           names=['전출지별', '전입지별'], length=325)

In [83]:
migrationDF.columns

Index(['1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017'],
      dtype='object')

In [84]:
migrationDF['1970'].values

array(['이동자수 (명)', 4046536, 1742813, 448577, '-', '-', '-', '-', '-', '-',
       452060, 160959, 100041, 192979, 136856, 177536, 407643, 212521,
       14551, 1448985, 1232619, 11568, '-', '-', '-', '-', '-', '-',
       130149, 9352, 6700, 15954, 10814, 10513, 11868, 8409, 1039, 376059,
       24263, 307900, '-', '-', '-', '-', '-', '-', 6350, 2090, 1031,
       1901, 1105, 2613, 7791, 20249, 766, '-', '-', '-', '-', '-', '-',
       '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-',
       '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-',
       '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-',
       '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-',
       '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-',
       '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-',
       '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-',
       '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', 353535,
       95388, 4983, '-', '-', '-', '-', '-', '-', 212365, 7649, 4424,
       10743, 3221, 4287, 6171, 3916, 388, 197181, 34563, 4385, '-', '-',
       '-', '-', '-', '-', 16420, 113485, 7971, 3363, 1199, 1355, 10916,
       3279, 245, 147916, 37625, 3840, '-', '-', '-', '-', '-', '-',
       12585, 5741, 65127, 11611, 915, 3087, 5833, 1481, 71, 240241,
       67033, 4803, '-', '-', '-', '-', '-', '-', 19969, 3384, 5784,
       121675, 4511, 5571, 4848, 2465, 198, 228126, 71785, 6633, '-', '-',
       '-', '-', '-', '-', 14174, 2042, 1184, 12842, 104671, 8043, 4319,
       2103, 330, 263908, 75871, 9635, '-', '-', '-', '-', '-', '-',
       15123, 2217, 1277, 5713, 7292, 137252, 4377, 3709, 1442, 470142,
       59129, 28676, '-', '-', '-', '-', '-', '-', 14210, 10325, 5155,
       4623, 1540, 2105, 326668, 17419, 292, 299797, 40077, 64731, '-',
       '-', '-', '-', '-', '-', 9571, 4219, 1346, 2370, 1429, 2075, 24476,
       149016, 487, 17705, 3881, 1418, '-', '-', '-', '-', '-', '-', 727,
       435, 42, 294, 139, 631, 374, 474, 9290], dtype=object)

In [85]:
migrationDF.index[0]

('전출지별', '전입지별')

In [86]:
admin_dis = []
for i, j in migrationDF.index:
    admin_dis.append(i)

In [87]:
admin_dis

['전출지별',
 '전국',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '서울특별시',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '부산광역시',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '대구광역시',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '인천광역시',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '광주광역시',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '대전광역시',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '울산광역시',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '세종특별자치시',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '경기도',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '강원도',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '충청북도',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '충청남도',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '전라북도',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '전라남도',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '경상북도',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '경상남도',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '제주특별자치도',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [88]:
admin_dis = [str(x) for x in admin_dis]

In [89]:
admin_dis = [x for x in admin_dis if x != "nan"]

In [90]:
admin_dis

['전출지별',
 '전국',
 '서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [91]:
admin_dis.remove('전출지별')

In [92]:
admin_dis

['전국',
 '서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [93]:
# for i in admin_dis:
#     if i == math.nan or i == float('nan'):
#         admin_dis.remove(i)

In [94]:
new_index = []
for i in admin_dis:
    for j in admin_dis:
        new_index.append((i, j))

In [95]:
new_index.insert(0, ('전출지별', '전입지별'))

In [96]:
new_index

[('전출지별', '전입지별'),
 ('전국', '전국'),
 ('전국', '서울특별시'),
 ('전국', '부산광역시'),
 ('전국', '대구광역시'),
 ('전국', '인천광역시'),
 ('전국', '광주광역시'),
 ('전국', '대전광역시'),
 ('전국', '울산광역시'),
 ('전국', '세종특별자치시'),
 ('전국', '경기도'),
 ('전국', '강원도'),
 ('전국', '충청북도'),
 ('전국', '충청남도'),
 ('전국', '전라북도'),
 ('전국', '전라남도'),
 ('전국', '경상북도'),
 ('전국', '경상남도'),
 ('전국', '제주특별자치도'),
 ('서울특별시', '전국'),
 ('서울특별시', '서울특별시'),
 ('서울특별시', '부산광역시'),
 ('서울특별시', '대구광역시'),
 ('서울특별시', '인천광역시'),
 ('서울특별시', '광주광역시'),
 ('서울특별시', '대전광역시'),
 ('서울특별시', '울산광역시'),
 ('서울특별시', '세종특별자치시'),
 ('서울특별시', '경기도'),
 ('서울특별시', '강원도'),
 ('서울특별시', '충청북도'),
 ('서울특별시', '충청남도'),
 ('서울특별시', '전라북도'),
 ('서울특별시', '전라남도'),
 ('서울특별시', '경상북도'),
 ('서울특별시', '경상남도'),
 ('서울특별시', '제주특별자치도'),
 ('부산광역시', '전국'),
 ('부산광역시', '서울특별시'),
 ('부산광역시', '부산광역시'),
 ('부산광역시', '대구광역시'),
 ('부산광역시', '인천광역시'),
 ('부산광역시', '광주광역시'),
 ('부산광역시', '대전광역시'),
 ('부산광역시', '울산광역시'),
 ('부산광역시', '세종특별자치시'),
 ('부산광역시', '경기도'),
 ('부산광역시', '강원도'),
 ('부산광역시', '충청북도'),
 ('부산광역시', '충청남도'),
 ('부산광역시', '전라북도'),
 ('부산광역시', '전라남도'),
 ('부산광역시', '경상북도'),
 ('부산광역시', '경상남도'),
 ('부산광역시', '제주특별자치도'),
 ('대구광역시', '전국'),
 ('대구광역시', '서울특별시'),
 ('대구광역시', '부산광역시'),
 ('대구광역시', '대구광역시'),
 ('대구광역시', '인천광역시'),
 ('대구광역시', '광주광역시'),
 ('대구광역시', '대전광역시'),
 ('대구광역시', '울산광역시'),
 ('대구광역시', '세종특별자치시'),
 ('대구광역시', '경기도'),
 ('대구광역시', '강원도'),
 ('대구광역시', '충청북도'),
 ('대구광역시', '충청남도'),
 ('대구광역시', '전라북도'),
 ('대구광역시', '전라남도'),
 ('대구광역시', '경상북도'),
 ('대구광역시', '경상남도'),
 ('대구광역시', '제주특별자치도'),
 ('인천광역시', '전국'),
 ('인천광역시', '서울특별시'),
 ('인천광역시', '부산광역시'),
 ('인천광역시', '대구광역시'),
 ('인천광역시', '인천광역시'),
 ('인천광역시', '광주광역시'),
 ('인천광역시', '대전광역시'),
 ('인천광역시', '울산광역시'),
 ('인천광역시', '세종특별자치시'),
 ('인천광역시', '경기도'),
 ('인천광역시', '강원도'),
 ('인천광역시', '충청북도'),
 ('인천광역시', '충청남도'),
 ('인천광역시', '전라북도'),
 ('인천광역시', '전라남도'),
 ('인천광역시', '경상북도'),
 ('인천광역시', '경상남도'),
 ('인천광역시', '제주특별자치도'),
 ('광주광역시', '전국'),
 ('광주광역시', '서울특별시'),
 ('광주광역시', '부산광역시'),
 ('광주광역시', '대구광역시'),
 ('광주광역시', '인천광역시'),
 ('광주광역시', '광주광역시'),
 ('광주광역시', '대전광역시'),
 ('광주광역시', '울산광역시'),
 ('광주광역시', '세종특별자치시'),
 ('광주광역시', '경기도'),
 ('광주광역시', '강원도'),
 ('광주광역시', '충청북도'),
 ('광주광역시', '충청남도'),
 ('광주광역시', '전라북도'),
 ('광주광역시', '전라남도'),
 ('광주광역시', '경상북도'),
 ('광주광역시', '경상남도'),
 ('광주광역시', '제주특별자치도'),
 ('대전광역시', '전국'),
 ('대전광역시', '서울특별시'),
 ('대전광역시', '부산광역시'),
 ('대전광역시', '대구광역시'),
 ('대전광역시', '인천광역시'),
 ('대전광역시', '광주광역시'),
 ('대전광역시', '대전광역시'),
 ('대전광역시', '울산광역시'),
 ('대전광역시', '세종특별자치시'),
 ('대전광역시', '경기도'),
 ('대전광역시', '강원도'),
 ('대전광역시', '충청북도'),
 ('대전광역시', '충청남도'),
 ('대전광역시', '전라북도'),
 ('대전광역시', '전라남도'),
 ('대전광역시', '경상북도'),
 ('대전광역시', '경상남도'),
 ('대전광역시', '제주특별자치도'),
 ('울산광역시', '전국'),
 ('울산광역시', '서울특별시'),
 ('울산광역시', '부산광역시'),
 ('울산광역시', '대구광역시'),
 ('울산광역시', '인천광역시'),
 ('울산광역시', '광주광역시'),
 ('울산광역시', '대전광역시'),
 ('울산광역시', '울산광역시'),
 ('울산광역시', '세종특별자치시'),
 ('울산광역시', '경기도'),
 ('울산광역시', '강원도'),
 ('울산광역시', '충청북도'),
 ('울산광역시', '충청남도'),
 ('울산광역시', '전라북도'),
 ('울산광역시', '전라남도'),
 ('울산광역시', '경상북도'),
 ('울산광역시', '경상남도'),
 ('울산광역시', '제주특별자치도'),
 ('세종특별자치시', '전국'),
 ('세종특별자치시', '서울특별시'),
 ('세종특별자치시', '부산광역시'),
 ('세종특별자치시', '대구광역시'),
 ('세종특별자치시', '인천광역시'),
 ('세종특별자치시', '광주광역시'),
 ('세종특별자치시', '대전광역시'),
 ('세종특별자치시', '울산광역시'),
 ('세종특별자치시', '세종특별자치시'),
 ('세종특별자치시', '경기도'),
 ('세종특별자치시', '강원도'),
 ('세종특별자치시', '충청북도'),
 ('세종특별자치시', '충청남도'),
 ('세종특별자치시', '전라북도'),
 ('세종특별자치시', '전라남도'),
 ('세종특별자치시', '경상북도'),
 ('세종특별자치시', '경상남도'),
 ('세종특별자치시', '제주특별자치도'),
 ('경기도', '전국'),
 ('경기도', '서울특별시'),
 ('경기도', '부산광역시'),
 ('경기도', '대구광역시'),
 ('경기도', '인천광역시'),
 ('경기도', '광주광역시'),
 ('경기도', '대전광역시'),
 ('경기도', '울산광역시'),
 ('경기도', '세종특별자치시'),
 ('경기도', '경기도'),
 ('경기도', '강원도'),
 ('경기도', '충청북도'),
 ('경기도', '충청남도'),
 ('경기도', '전라북도'),
 ('경기도', '전라남도'),
 ('경기도', '경상북도'),
 ('경기도', '경상남도'),
 ('경기도', '제주특별자치도'),
 ('강원도', '전국'),
 ('강원도', '서울특별시'),
 ('강원도', '부산광역시'),
 ('강원도', '대구광역시'),
 ('강원도', '인천광역시'),
 ('강원도', '광주광역시'),
 ('강원도', '대전광역시'),
 ('강원도', '울산광역시'),
 ('강원도', '세종특별자치시'),
 ('강원도', '경기도'),
 ('강원도', '강원도'),
 ('강원도', '충청북도'),
 ('강원도', '충청남도'),
 ('강원도', '전라북도'),
 ('강원도', '전라남도'),
 ('강원도', '경상북도'),
 ('강원도', '경상남도'),
 ('강원도', '제주특별자치도'),
 ('충청북도', '전국'),
 ('충청북도', '서울특별시'),
 ('충청북도', '부산광역시'),
 ('충청북도', '대구광역시'),
 ('충청북도', '인천광역시'),
 ('충청북도', '광주광역시'),
 ('충청북도', '대전광역시'),
 ('충청북도', '울산광역시'),
 ('충청북도', '세종특별자치시'),
 ('충청북도', '경기도'),
 ('충청북도', '강원도'),
 ('충청북도', '충청북도'),
 ('충청북도', '충청남도'),
 ('충청북도', '전라북도'),
 ('충청북도', '전라남도'),
 ('충청북도', '경상북도'),
 ('충청북도', '경상남도'),
 ('충청북도', '제주특별자치도'),
 ('충청남도', '전국'),
 ('충청남도', '서울특별시'),
 ('충청남도', '부산광역시'),
 ('충청남도', '대구광역시'),
 ('충청남도', '인천광역시'),
 ('충청남도', '광주광역시'),
 ('충청남도', '대전광역시'),
 ('충청남도', '울산광역시'),
 ('충청남도', '세종특별자치시'),
 ('충청남도', '경기도'),
 ('충청남도', '강원도'),
 ('충청남도', '충청북도'),
 ('충청남도', '충청남도'),
 ('충청남도', '전라북도'),
 ('충청남도', '전라남도'),
 ('충청남도', '경상북도'),
 ('충청남도', '경상남도'),
 ('충청남도', '제주특별자치도'),
 ('전라북도', '전국'),
 ('전라북도', '서울특별시'),
 ('전라북도', '부산광역시'),
 ('전라북도', '대구광역시'),
 ('전라북도', '인천광역시'),
 ('전라북도', '광주광역시'),
 ('전라북도', '대전광역시'),
 ('전라북도', '울산광역시'),
 ('전라북도', '세종특별자치시'),
 ('전라북도', '경기도'),
 ('전라북도', '강원도'),
 ('전라북도', '충청북도'),
 ('전라북도', '충청남도'),
 ('전라북도', '전라북도'),
 ('전라북도', '전라남도'),
 ('전라북도', '경상북도'),
 ('전라북도', '경상남도'),
 ('전라북도', '제주특별자치도'),
 ('전라남도', '전국'),
 ('전라남도', '서울특별시'),
 ('전라남도', '부산광역시'),
 ('전라남도', '대구광역시'),
 ('전라남도', '인천광역시'),
 ('전라남도', '광주광역시'),
 ('전라남도', '대전광역시'),
 ('전라남도', '울산광역시'),
 ('전라남도', '세종특별자치시'),
 ('전라남도', '경기도'),
 ('전라남도', '강원도'),
 ('전라남도', '충청북도'),
 ('전라남도', '충청남도'),
 ('전라남도', '전라북도'),
 ('전라남도', '전라남도'),
 ('전라남도', '경상북도'),
 ('전라남도', '경상남도'),
 ('전라남도', '제주특별자치도'),
 ('경상북도', '전국'),
 ('경상북도', '서울특별시'),
 ('경상북도', '부산광역시'),
 ('경상북도', '대구광역시'),
 ('경상북도', '인천광역시'),
 ('경상북도', '광주광역시'),
 ('경상북도', '대전광역시'),
 ('경상북도', '울산광역시'),
 ('경상북도', '세종특별자치시'),
 ('경상북도', '경기도'),
 ('경상북도', '강원도'),
 ('경상북도', '충청북도'),
 ('경상북도', '충청남도'),
 ('경상북도', '전라북도'),
 ('경상북도', '전라남도'),
 ('경상북도', '경상북도'),
 ('경상북도', '경상남도'),
 ('경상북도', '제주특별자치도'),
 ('경상남도', '전국'),
 ('경상남도', '서울특별시'),
 ('경상남도', '부산광역시'),
 ('경상남도', '대구광역시'),
 ('경상남도', '인천광역시'),
 ('경상남도', '광주광역시'),
 ('경상남도', '대전광역시'),
 ('경상남도', '울산광역시'),
 ('경상남도', '세종특별자치시'),
 ('경상남도', '경기도'),
 ('경상남도', '강원도'),
 ('경상남도', '충청북도'),
 ('경상남도', '충청남도'),
 ('경상남도', '전라북도'),
 ('경상남도', '전라남도'),
 ('경상남도', '경상북도'),
 ('경상남도', '경상남도'),
 ('경상남도', '제주특별자치도'),
 ('제주특별자치도', '전국'),
 ('제주특별자치도', '서울특별시'),
 ('제주특별자치도', '부산광역시'),
 ('제주특별자치도', '대구광역시'),
 ('제주특별자치도', '인천광역시'),
 ('제주특별자치도', '광주광역시'),
 ('제주특별자치도', '대전광역시'),
 ('제주특별자치도', '울산광역시'),
 ('제주특별자치도', '세종특별자치시'),
 ('제주특별자치도', '경기도'),
 ('제주특별자치도', '강원도'),
 ('제주특별자치도', '충청북도'),
 ('제주특별자치도', '충청남도'),
 ('제주특별자치도', '전라북도'),
 ('제주특별자치도', '전라남도'),
 ('제주특별자치도', '경상북도'),
 ('제주특별자치도', '경상남도'),
 ('제주특별자치도', '제주특별자치도')]

In [97]:
migrationDF.index = new_index

In [98]:
migrationDF

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
"(전출지별, 전입지별)",이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),...,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명)
"(전국, 전국)",4046536,4210164,3687938,4860418,5297969,9011440,6773250,7397623,8410276,7324380,...,8808256,8487275,8226594,8127195,7506691,7411784,7629098,7755286,7378430,7154226
"(전국, 서울특별시)",1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,3307439,2589667,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
"(전국, 부산광역시)",448577,389797,362202,482061,680984,805979,724664,785117,895337,809483,...,514502,519310,519334,508043,461042,478451,485710,507031,459015,439073
"(전국, 대구광역시)",-,-,-,-,-,-,-,-,-,-,...,409938,398626,370817,370563,348642,351873,350213,351424,328228,321182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(제주특별자치도, 전라북도)",139,202,141,210,219,415,392,408,363,354,...,668,579,672,561,551,516,609,683,733,768
"(제주특별자치도, 전라남도)",631,965,857,952,1133,2808,2608,2652,2722,2178,...,1143,1123,1002,1026,966,1001,928,1062,1127,1102
"(제주특별자치도, 경상북도)",374,619,468,576,625,1123,1141,1004,1009,818,...,761,704,738,756,699,781,728,903,931,994
"(제주특별자치도, 경상남도)",474,479,440,571,1208,1517,863,1122,1331,1290,...,1517,1474,1324,1367,1227,1278,1223,1500,1448,1501
"(제주특별자치도, 제주특별자치도)",9290,12427,12210,16158,19580,34221,23291,31028,30719,30064,...,59564,55673,55507,59846,54280,60607,59673,59036,66444,63275

In [99]:
df = pd.DataFrame(columns = admin_dis, index = admin_dis)
df

,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
전국,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
서울특별시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
부산광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
대구광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
인천광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
광주광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
대전광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
울산광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
세종특별자치시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경기도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
강원도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
충청북도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
충청남도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
전라북도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
전라남도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경상북도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경상남도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
제주특별자치도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
migrationDF

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
"(전출지별, 전입지별)",이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),...,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명)
"(전국, 전국)",4046536,4210164,3687938,4860418,5297969,9011440,6773250,7397623,8410276,7324380,...,8808256,8487275,8226594,8127195,7506691,7411784,7629098,7755286,7378430,7154226
"(전국, 서울특별시)",1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,3307439,2589667,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
"(전국, 부산광역시)",448577,389797,362202,482061,680984,805979,724664,785117,895337,809483,...,514502,519310,519334,508043,461042,478451,485710,507031,459015,439073
"(전국, 대구광역시)",-,-,-,-,-,-,-,-,-,-,...,409938,398626,370817,370563,348642,351873,350213,351424,328228,321182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(제주특별자치도, 전라북도)",139,202,141,210,219,415,392,408,363,354,...,668,579,672,561,551,516,609,683,733,768
"(제주특별자치도, 전라남도)",631,965,857,952,1133,2808,2608,2652,2722,2178,...,1143,1123,1002,1026,966,1001,928,1062,1127,1102
"(제주특별자치도, 경상북도)",374,619,468,576,625,1123,1141,1004,1009,818,...,761,704,738,756,699,781,728,903,931,994
"(제주특별자치도, 경상남도)",474,479,440,571,1208,1517,863,1122,1331,1290,...,1517,1474,1324,1367,1227,1278,1223,1500,1448,1501
"(제주특별자치도, 제주특별자치도)",9290,12427,12210,16158,19580,34221,23291,31028,30719,30064,...,59564,55673,55507,59846,54280,60607,59673,59036,66444,63275

In [101]:
migrationDF.index

Index([      ('전출지별', '전입지별'),           ('전국', '전국'),        ('전국', '서울특별시'),
              ('전국', '부산광역시'),        ('전국', '대구광역시'),        ('전국', '인천광역시'),
              ('전국', '광주광역시'),        ('전국', '대전광역시'),        ('전국', '울산광역시'),
            ('전국', '세종특별자치시'),
       ...
       ('제주특별자치도', '세종특별자치시'),     ('제주특별자치도', '경기도'),     ('제주특별자치도', '강원도'),
          ('제주특별자치도', '충청북도'),    ('제주특별자치도', '충청남도'),    ('제주특별자치도', '전라북도'),
          ('제주특별자치도', '전라남도'),    ('제주특별자치도', '경상북도'),    ('제주특별자치도', '경상남도'),
       ('제주특별자치도', '제주특별자치도')],
      dtype='object', length=325)

In [102]:
type(migrationDF['1971'][('전국', '전국')])

int

In [103]:
df = pd.DataFrame(columns = admin_dis, index = admin_dis)
for i, j in migrationDF.index:
    if i != '전출지별' and j != '전입지별':
        df.loc[i, j] = migrationDF['1970'][(i, j)]
print(df)

              전국    서울특별시   부산광역시 대구광역시 인천광역시 광주광역시 대전광역시 울산광역시 세종특별자치시  \
전국       4046536  1742813  448577     -     -     -     -     -       -
서울특별시    1448985  1232619   11568     -     -     -     -     -       -
부산광역시     376059    24263  307900     -     -     -     -     -       -
대구광역시          -        -       -     -     -     -     -     -       -
인천광역시          -        -       -     -     -     -     -     -       -
광주광역시          -        -       -     -     -     -     -     -       -
대전광역시          -        -       -     -     -     -     -     -       -
울산광역시          -        -       -     -     -     -     -     -       -
세종특별자치시        -        -       -     -     -     -     -     -       -
경기도       353535    95388    4983     -     -     -     -     -       -
강원도       197181    34563    4385     -     -     -     -     -       -
충청북도      147916    37625    3840     -     -     -     -     -       -
충청남도      240241    67033    4803     -     -     -     -     -       -
전라북도      228126    71785    6633     -     -     -     -     -       -
전라남도      263908    75871    9635     -     -     -     -     -       -
경상북도      470142    59129   28676     -     -     -     -     -       -
경상남도      299797    40077   64731     -     -     -     -     -       -
제주특별자치도    17705     3881    1418     -     -     -     -     -       -

            경기도     강원도    충청북도    충청남도    전라북도    전라남도    경상북도    경상남도  \
전국       452060  160959  100041  192979  136856  177536  407643  212521
서울특별시    130149    9352    6700   15954   10814   10513   11868    8409
부산광역시      6350    2090    1031    1901    1105    2613    7791   20249
대구광역시         -       -       -       -       -       -       -       -
인천광역시         -       -       -       -       -       -       -       -
광주광역시         -       -       -       -       -       -       -       -
대전광역시         -       -       -       -       -       -       -       -
울산광역시         -       -       -       -       -       -       -       -
세종특별자치시       -       -       -       -       -       -       -       -
경기도      212365    7649    4424   10743    3221    4287    6171    3916
강원도       16420  113485    7971    3363    1199    1355   10916    3279
충청북도      12585    5741   65127   11611     915    3087    5833    1481
충청남도      19969    3384    5784  121675    4511    5571    4848    2465
전라북도      14174    2042    1184   12842  104671    8043    4319    2103
전라남도      15123    2217    1277    5713    7292  137252    4377    3709
경상북도      14210   10325    5155    4623    1540    2105  326668   17419
경상남도       9571    4219    1346    2370    1429    2075   24476  149016
제주특별자치도     727     435      42     294     139     631     374     474

        제주특별자치도
전국        14551
서울특별시      1039
부산광역시       766
대구광역시         -
인천광역시         -
광주광역시         -
대전광역시         -
울산광역시         -
세종특별자치시       -
경기도         388
강원도         245
충청북도         71
충청남도        198
전라북도        330
전라남도       1442
경상북도        292
경상남도        487
제주특별자치도    9290

In [36]:
# num_to_seoul = []
# num_to_jeju = [] 
# for years in migrationDF.columns:
#     print(years)
#     df = pd.DataFrame(columns = admin_dis, index = admin_dis)
#     for i, j in migrationDF.index:
#         if i != '전출지별' and j != '전입지별':
#             df.loc[i, j] = migrationDF[years][(i, j)]
#         if i == j:
#             df.loc[i, j] = 0
#     df = df.drop('전국', axis = 1)
#     df = df.T
#     df = df.drop('전국', axis = 1)
#     df.replace('-', 0, inplace = True)
#     num_to_seoul.append(max(df.서울특별시.values))
#     num_to_jeju.append(max(df.제주특별자치도.values))
#     print(df)
#     print()

1970
          서울특별시  부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시    경기도  \
서울특별시         0  24263      0      0      0      0      0        0  95388
부산광역시     11568      0      0      0      0      0      0        0   4983
대구광역시         0      0      0      0      0      0      0        0      0
인천광역시         0      0      0      0      0      0      0        0      0
광주광역시         0      0      0      0      0      0      0        0      0
대전광역시         0      0      0      0      0      0      0        0      0
울산광역시         0      0      0      0      0      0      0        0      0
세종특별자치시       0      0      0      0      0      0      0        0      0
경기도      130149   6350      0      0      0      0      0        0      0
강원도        9352   2090      0      0      0      0      0        0   7649
충청북도       6700   1031      0      0      0      0      0        0   4424
충청남도      15954   1901      0      0      0      0      0        0  10743
전라북도      10814   1105      0      0      0      0      0        0   3221
전라남도      10513   2613      0      0      0      0      0        0   4287
경상북도      11868   7791      0      0      0      0      0        0   6171
경상남도       8409  20249      0      0      0      0      0        0   3916
제주특별자치도    1039    766      0      0      0      0      0        0    388

           강원도   충청북도   충청남도   전라북도   전라남도   경상북도   경상남도  제주특별자치도
서울특별시    34563  37625  67033  71785  75871  59129  40077     3881
부산광역시     4385   3840   4803   6633   9635  28676  64731     1418
대구광역시        0      0      0      0      0      0      0        0
인천광역시        0      0      0      0      0      0      0        0
광주광역시        0      0      0      0      0      0      0        0
대전광역시        0      0      0      0      0      0      0        0
울산광역시        0      0      0      0      0      0      0        0
세종특별자치시      0      0      0      0      0      0      0        0
경기도      16420  12585  19969  14174  15123  14210   9571      727
강원도          0   5741   3384   2042   2217  10325   4219      435
충청북도      7971      0   5784   1184   1277   5155   1346       42
충청남도      3363  11611      0  12842   5713   4623   2370      294
전라북도      1199    915   4511      0   7292   1540   1429      139
전라남도      1355   3087   5571   8043      0   2105   2075      631
경상북도     10916   5833   4848   4319   4377      0  24476      374
경상남도      3279   1481   2465   2103   3709  17419      0      474
제주특별자치도    245     71    198    330   1442    292    487        0

1971
          서울특별시  부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시    경기도  \
서울특별시         0  30144      0      0      0      0      0        0  95423
부산광역시     11130      0      0      0      0      0      0        0   5309
대구광역시         0      0      0      0      0      0      0        0      0
인천광역시         0      0      0      0      0      0      0        0      0
광주광역시         0      0      0      0      0      0      0        0      0
대전광역시         0      0      0      0      0      0      0        0      0
울산광역시         0      0      0      0      0      0      0        0      0
세종특별자치시       0      0      0      0      0      0      0        0      0
경기도      150313   6543      0      0      0      0      0        0      0
강원도       12885   2291      0      0      0      0      0        0  10196
충청북도       9457   1285      0      0      0      0      0        0   5159
충청남도      18943   1994      0      0      0      0      0        0  10372
전라북도      13192   1481      0      0      0      0      0        0   4050
전라남도      16755   3034      0      0      0      0      0        0   4917
경상북도      16459  10233      0      0      0      0      0        0   7241
경상남도      10001  22405      0      0      0      0      0        0   5956
제주특별자치도    1325    855      0      0      0      0      0        0    430

           강원도   충청북도   충청남도   전라북도   전라남도   경상북도   경상남도  제주특별자치도
서울특별시    38588  39139  63565  63688  70920  63329  43468     4885
부산광역시     4008   3073   4599   7100  10964  26649  66686     2177
대구광역시        0      0      0      0      0      0      0        0
인천광역시        0      0      0      0      0      0      0        0
광주광역시        0      0      0      0      0      0      0        0
대전광역시        0      0      0      0      0      0      0        0
울산광역시        0      0      0      0      0      0      0        0
세종특별자치시      0      0      0      0      0      0      0        0
경기도      18593  13937  23202  16009  18408  13239   9269      817
강원도          0   6671   3940   2618   3010  10512   3428      191
충청북도      8567      0   6495   1463   1108   5340   1246       59
충청남도      3726  12393      0   8101   4154   4893   2524      155
전라북도      1485   1148   5174      0   8923   1701   1572      202
전라남도      1910   1057   1934   8126      0   2102   2631      965
경상북도     10880   6115   5354   3799   4778      0  20981      619
경상남도      2791   1227   3058   2132   4633  15586      0      479
제주특별자치도    188    111    275    387   2182    487    397        0

1972
         서울특별시  부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시    경기도  \
서울특별시        0  18260      0      0      0      0      0        0  90470
부산광역시    11768      0      0      0      0      0      0        0   4734
대구광역시        0      0      0      0      0      0      0        0      0
인천광역시        0      0      0      0      0      0      0        0      0
광주광역시        0      0      0      0      0      0      0        0      0
대전광역시        0      0      0      0      0      0      0        0      0
울산광역시        0      0      0      0      0      0      0        0      0
세종특별자치시      0      0      0      0      0      0      0        0      0
경기도      93333   4788      0      0      0      0      0        0      0
강원도      13561   2062      0      0      0      0      0        0   9654
충청북도     10853   1221      0      0      0      0      0        0   5775
충청남도     23406   1801      0      0      0      0      0        0  11730
전라북도     16583   1733      0      0      0      0      0        0   4261
전라남도     20157   3446      0      0      0      0      0        0   5780
경상북도     22073  12697      0      0      0      0      0        0   9208
경상남도     11263  26556      0      0      0      0      0        0   4884
제주특별자치도   1617   1007      0      0      0      0      0        0    572

           강원도   충청북도   충청남도   전라북도   전라남도   경상북도   경상남도  제주특별자치도
서울특별시    32497  29513  40803  39692  41044  41532  27238     2339
부산광역시     3611   2424   3857   4764   8170  19197  56514     1374
대구광역시        0      0      0      0      0      0      0        0
인천광역시        0      0      0      0      0      0      0        0
광주광역시        0      0      0      0      0      0      0        0
대전광역시        0      0      0      0      0      0      0        0
울산광역시        0      0      0      0      0      0      0        0
세종특별자치시      0      0      0      0      0      0      0        0
경기도      14970   9936  17362  11203  13381  10699   6076      420
강원도          0   4951   3585   1920   2389   8500   2306      150
충청북도      6232      0   6776   1359   1205   4498   1403      116
충청남도      3571   8602      0   6527   3415   3633   1836      238
전라북도      1408   1005   4997      0   7585   1742   1232      141
전라남도      1931    676   1907   6299      0   1991   2150      857
경상북도     12269   5790   5549   3370   3572      0  16913      468
경상남도      3054   1351   2051   2136   3372  13236      0      440
제주특별자치도    269    147    243    434   2063    471    371        0

1973
          서울특별시  부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시     경기도  \
서울특별시         0  24251      0      0      0      0      0        0  107177
부산광역시     16307      0      0      0      0      0      0        0    6146
대구광역시         0      0      0      0      0      0      0        0       0
인천광역시         0      0      0      0      0      0      0        0       0
광주광역시         0      0      0      0      0      0      0        0       0
대전광역시         0      0      0      0      0      0      0        0       0
울산광역시         0      0      0      0      0      0      0        0       0
세종특별자치시       0      0      0      0      0      0      0        0       0
경기도      143234   7364      0      0      0      0      0        0       0
강원도       16481   2356      0      0      0      0      0        0   10628
충청북도      12617   1351      0      0      0      0      0        0    5484
충청남도      27139   2255      0      0      0      0      0        0   12829
전라북도      18642   1861      0      0      0      0      0        0    4935
전라남도      22160   3996      0      0      0      0      0        0    6457
경상북도      27531  16373      0      0      0      0      0        0   10379
경상남도      15193  37134      0      0      0      0      0        0    5582
제주특별자치도    2456   1229      0      0      0      0      0        0     680

           강원도   충청북도   충청남도   전라북도   전라남도   경상북도   경상남도  제주특별자치도
서울특별시    40922  36260  53320  55168  59763  61129  39862     7411
부산광역시     4399   3353   4961   6476  11090  26186  81930     1742
대구광역시        0      0      0      0      0      0      0        0
인천광역시        0      0      0      0      0      0      0        0
광주광역시        0      0      0      0      0      0      0        0
대전광역시        0      0      0      0      0      0      0        0
울산광역시        0      0      0      0      0      0      0        0
세종특별자치시      0      0      0      0      0      0      0        0
경기도      17183  11396  22768  12496  15728  14129   8832      641
강원도          0   5655   4553   2145   3456  11059   2677      184
충청북도      7370      0   8162   1181   1108   4759   1012       82
충청남도      3491   9624      0   7900   3711   4422   1920      235
전라북도      1735   1222   6292      0   9641   1912   1480      210
전라남도      2592   1212   2876   8881      0   2725   2942      952
경상북도     14990   6458   6175   3898   4039      0  20947      576
경상남도      3661   1901   2520   2433   4121  18595      0      571
제주특별자치도    406    161    367    429   2701    513    630        0

1974
          서울특별시  부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시     경기도  \
서울특별시         0  30284      0      0      0      0      0        0  107518
부산광역시     22220      0      0      0      0      0      0        0    9463
대구광역시         0      0      0      0      0      0      0        0       0
인천광역시         0      0      0      0      0      0      0        0       0
광주광역시         0      0      0      0      0      0      0        0       0
대전광역시         0      0      0      0      0      0      0        0       0
울산광역시         0      0      0      0      0      0      0        0       0
세종특별자치시       0      0      0      0      0      0      0        0       0
경기도      149045   6589      0      0      0      0      0        0       0
강원도       15479   2291      0      0      0      0      0        0    9311
충청북도      11786   1253      0      0      0      0      0        0    5174
충청남도      25509   2212      0      0      0      0      0        0   11819
전라북도      16647   1764      0      0      0      0      0        0    4109
전라남도      21314   4139      0      0      0      0      0        0    5779
경상북도      26902  16203      0      0      0      0      0        0   11731
경상남도      16771  41052      0      0      0      0      0        0    9509
제주특별자치도    2261   1132      0      0      0      0      0        0     695

           강원도   충청북도   충청남도   전라북도   전라남도   경상북도   경상남도  제주특별자치도
서울특별시    42649  40154  61038  60827  69361  67374  44321     8470
부산광역시     6724   4763   7521   9731  18149  40070  99493     2222
대구광역시        0      0      0      0      0      0      0        0
인천광역시        0      0      0      0      0      0      0        0
광주광역시        0      0      0      0      0      0      0        0
대전광역시        0      0      0      0      0      0      0        0
울산광역시        0      0      0      0      0      0      0        0
세종특별자치시      0      0      0      0      0      0      0        0
경기도      18448  12209  24896  13411  17465  15272   8149      702
강원도          0   5513   3217   1959   2926  10102   2557      194
충청북도      8105      0   8227   1197   1322   4705   1208      115
충청남도      3339  10482      0   8005   3851   4464   2273      285
전라북도      1418    853   5253      0   8524   1624   1242      219
전라남도      1989    964   2260   8935      0   2412   2642     1133
경상북도     13647   6651   6342   4718   4721      0  22550      625
경상남도      6727   3321   4450   4124   6540  23425      0     1208
제주특별자치도    283    136    371    391   3231    514    565        0

1975
          서울특별시  부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시     경기도  \
서울특별시         0  59914      0      0      0      0      0        0  207641
부산광역시     27515      0      0      0      0      0      0        0   12408
대구광역시         0      0      0      0      0      0      0        0       0
인천광역시         0      0      0      0      0      0      0        0       0
광주광역시         0      0      0      0      0      0      0        0       0
대전광역시         0      0      0      0      0      0      0        0       0
울산광역시         0      0      0      0      0      0      0        0       0
세종특별자치시       0      0      0      0      0      0      0        0       0
경기도      253705  15314      0      0      0      0      0        0       0
강원도       27837   5100      0      0      0      0      0        0   17354
충청북도      21073   2826      0      0      0      0      0        0   10913
충청남도      51205   6467      0      0      0      0      0        0   28118
전라북도      34411   4423      0      0      0      0      0        0    9399
전라남도      46610  11486      0      0      0      0      0        0   13904
경상북도      46177  30395      0      0      0      0      0        0   18490
경상남도      23150  65865      0      0      0      0      0        0   12599
제주특별자치도    3440   1861      0      0      0      0      0        0    1331

           강원도   충청북도    충청남도    전라북도    전라남도    경상북도    경상남도  제주특별자치도
서울특별시    74065  72525  115149  118342  125081  124398   81239    14272
부산광역시     8563   7790   10430   15304   24302   66996  131273     3206
대구광역시        0      0       0       0       0       0       0        0
인천광역시        0      0       0       0       0       0       0        0
광주광역시        0      0       0       0       0       0       0        0
대전광역시        0      0       0       0       0       0       0        0
울산광역시        0      0       0       0       0       0       0        0
세종특별자치시      0      0       0       0       0       0       0        0
경기도      34318  27810   53818   32840   41305   29801   19762     1811
강원도          0  11745    7634    6016    6969   22080    7472      728
충청북도     15129      0   17313    3096    3300    9232    2650      185
충청남도      7909  24142       0   18387   11274   11766    6651      554
전라북도      2942   3122   13505       0   20230    4888    3470      415
전라남도      4199   2761    6488   21522       0    6199    8331     2808
경상북도     18758  12886   14030    9915   10416       0   50864     1123
경상남도      7754   5215    7923    7758   11648   44177       0     1517
제주특별자치도    504    246     707    1005    5443     986    1160        0

1976
          서울특별시  부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시     경기도  \
서울특별시         0  43416      0      0      0      0      0        0  144524
부산광역시     23732      0      0      0      0      0      0        0   11179
대구광역시         0      0      0      0      0      0      0        0       0
인천광역시         0      0      0      0      0      0      0        0       0
광주광역시         0      0      0      0      0      0      0        0       0
대전광역시         0      0      0      0      0      0      0        0       0
울산광역시         0      0      0      0      0      0      0        0       0
세종특별자치시       0      0      0      0      0      0      0        0       0
경기도      202276  10705      0      0      0      0      0        0       0
강원도       25927   4485      0      0      0      0      0        0   15641
충청북도      18029   2348      0      0      0      0      0        0    8721
충청남도      41447   4149      0      0      0      0      0        0   21553
전라북도      29835   3756      0      0      0      0      0        0    8506
전라남도      46251  11509      0      0      0      0      0        0   14495
경상북도      40376  27465      0      0      0      0      0        0   14853
경상남도      22400  57329      0      0      0      0      0        0    9742
제주특별자치도    3623   1832      0      0      0      0      0        0    1096

           강원도   충청북도   충청남도   전라북도   전라남도   경상북도    경상남도  제주특별자치도
서울특별시    52651  50313  81692  83263  94332  87716   64652     9900
부산광역시     8290   6885   9145  11784  23475  49645  112811     2776
대구광역시        0      0      0      0      0      0       0        0
인천광역시        0      0      0      0      0      0       0        0
광주광역시        0      0      0      0      0      0       0        0
대전광역시        0      0      0      0      0      0       0        0
울산광역시        0      0      0      0      0      0       0        0
세종특별자치시      0      0      0      0      0      0       0        0
경기도      24750  18001  33809  19878  26918  21839   14139     1351
강원도          0   8027   4411   3221   3883  14349    4201      295
충청북도      9661      0  11550   1903   1933   7633    2267      205
충청남도      4577  14174      0  11401   7080   7908    4281      493
전라북도      1952   1837   8058      0  12494   3122    2508      392
전라남도      4009   2784   5090  16195      0   5972    7152     2608
경상북도     15512   8872   9160   5627   6849      0   37658     1141
경상남도      5811   3964   5674   5450   8048  33984       0      863
제주특별자치도    376    162    459    503   3234    849     848        0

1977
          서울특별시  부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시     경기도  \
서울특별시         0  42685      0      0      0      0      0        0  154021
부산광역시     27213      0      0      0      0      0      0        0    9599
대구광역시         0      0      0      0      0      0      0        0       0
인천광역시         0      0      0      0      0      0      0        0       0
광주광역시         0      0      0      0      0      0      0        0       0
대전광역시         0      0      0      0      0      0      0        0       0
울산광역시         0      0      0      0      0      0      0        0       0
세종특별자치시       0      0      0      0      0      0      0        0       0
경기도      207722  11070      0      0      0      0      0        0       0
강원도       25415   4877      0      0      0      0      0        0   15136
충청북도      17478   2835      0      0      0      0      0        0    8624
충청남도      43993   4584      0      0      0      0      0        0   23089
전라북도      28444   4549      0      0      0      0      0        0    9104
전라남도      43430  12931      0      0      0      0      0        0   13299
경상북도      41155  28592      0      0      0      0      0        0   16871
경상남도      27393  71107      0      0      0      0      0        0   10846
제주특별자치도    3551   1875      0      0      0      0      0        0     935

           강원도   충청북도   충청남도   전라북도   전라남도   경상북도    경상남도  제주특별자치도
서울특별시    52262  50472  76119  75212  87967  79224   52106    10103
부산광역시     7498   7178   9924  13927  27509  55502  111801     2880
대구광역시        0      0      0      0      0      0       0        0
인천광역시        0      0      0      0      0      0       0        0
광주광역시        0      0      0      0      0      0       0        0
대전광역시        0      0      0      0      0      0       0        0
울산광역시        0      0      0      0      0      0       0        0
세종특별자치시      0      0      0      0      0      0       0        0
경기도      26545  18693  35677  22033  28351  22494   13233     1516
강원도          0   7406   4253   2610   3774  14624    4455      306

In [104]:
# 년도 별로 전출전입수로 구성된 데이터프레임 생성 ==> ex) df1970, df1971, df1972, ......
num_to_seoul = []
num_to_jeju = [] 
for years in migrationDF.columns:
    print(years)
    df = pd.DataFrame(columns = admin_dis, index = admin_dis)
    for i, j in migrationDF.index:
        if i != '전출지별' and j != '전입지별':
            df.loc[i, j] = migrationDF[years][(j, i)]
        if i == j:
            df.loc[i, j] = 0
    df = df.drop('전국', axis = 1)
    df = df.T
    df = df.drop('전국', axis = 1)
    df.replace('-', 0, inplace = True)
    num_to_seoul.append(max(df.서울특별시.values))
    num_to_jeju.append(max(df.제주특별자치도.values))
    globals()['df{}'.format(years)] = df
    print(df)
    print()

1970
         서울특별시  부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시     경기도  \
서울특별시        0  11568      0      0      0      0      0        0  130149
부산광역시    24263      0      0      0      0      0      0        0    6350
대구광역시        0      0      0      0      0      0      0        0       0
인천광역시        0      0      0      0      0      0      0        0       0
광주광역시        0      0      0      0      0      0      0        0       0
대전광역시        0      0      0      0      0      0      0        0       0
울산광역시        0      0      0      0      0      0      0        0       0
세종특별자치시      0      0      0      0      0      0      0        0       0
경기도      95388   4983      0      0      0      0      0        0       0
강원도      34563   4385      0      0      0      0      0        0   16420
충청북도     37625   3840      0      0      0      0      0        0   12585
충청남도     67033   4803      0      0      0      0      0        0   19969
전라북도     71785   6633      0      0      0      0      0        0   14174
전라남도     75871   9635      0      0      0      0      0        0   15123
경상북도     59129  28676      0      0      0      0      0        0   14210
경상남도     40077  64731      0      0      0      0      0        0    9571
제주특별자치도   3881   1418      0      0      0      0      0        0     727

           강원도  충청북도   충청남도   전라북도   전라남도   경상북도   경상남도  제주특별자치도
서울특별시     9352  6700  15954  10814  10513  11868   8409     1039
부산광역시     2090  1031   1901   1105   2613   7791  20249      766
대구광역시        0     0      0      0      0      0      0        0
인천광역시        0     0      0      0      0      0      0        0
광주광역시        0     0      0      0      0      0      0        0
대전광역시        0     0      0      0      0      0      0        0
울산광역시        0     0      0      0      0      0      0        0
세종특별자치시      0     0      0      0      0      0      0        0
경기도       7649  4424  10743   3221   4287   6171   3916      388
강원도          0  7971   3363   1199   1355  10916   3279      245
충청북도      5741     0  11611    915   3087   5833   1481       71
충청남도      3384  5784      0   4511   5571   4848   2465      198
전라북도      2042  1184  12842      0   8043   4319   2103      330
전라남도      2217  1277   5713   7292      0   4377   3709     1442
경상북도     10325  5155   4623   1540   2105      0  17419      292
경상남도      4219  1346   2370   1429   2075  24476      0      487
제주특별자치도    435    42    294    139    631    374    474        0

1971
         서울특별시  부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시     경기도  \
서울특별시        0  11130      0      0      0      0      0        0  150313
부산광역시    30144      0      0      0      0      0      0        0    6543
대구광역시        0      0      0      0      0      0      0        0       0
인천광역시        0      0      0      0      0      0      0        0       0
광주광역시        0      0      0      0      0      0      0        0       0
대전광역시        0      0      0      0      0      0      0        0       0
울산광역시        0      0      0      0      0      0      0        0       0
세종특별자치시      0      0      0      0      0      0      0        0       0
경기도      95423   5309      0      0      0      0      0        0       0
강원도      38588   4008      0      0      0      0      0        0   18593
충청북도     39139   3073      0      0      0      0      0        0   13937
충청남도     63565   4599      0      0      0      0      0        0   23202
전라북도     63688   7100      0      0      0      0      0        0   16009
전라남도     70920  10964      0      0      0      0      0        0   18408
경상북도     63329  26649      0      0      0      0      0        0   13239
경상남도     43468  66686      0      0      0      0      0        0    9269
제주특별자치도   4885   2177      0      0      0      0      0        0     817

           강원도  충청북도   충청남도   전라북도   전라남도   경상북도   경상남도  제주특별자치도
서울특별시    12885  9457  18943  13192  16755  16459  10001     1325
부산광역시     2291  1285   1994   1481   3034  10233  22405      855
대구광역시        0     0      0      0      0      0      0        0
인천광역시        0     0      0      0      0      0      0        0
광주광역시        0     0      0      0      0      0      0        0
대전광역시        0     0      0      0      0      0      0        0
울산광역시        0     0      0      0      0      0      0        0
세종특별자치시      0     0      0      0      0      0      0        0
경기도      10196  5159  10372   4050   4917   7241   5956      430
강원도          0  8567   3726   1485   1910  10880   2791      188
충청북도      6671     0  12393   1148   1057   6115   1227      111
충청남도      3940  6495      0   5174   1934   5354   3058      275
전라북도      2618  1463   8101      0   8126   3799   2132      387
전라남도      3010  1108   4154   8923      0   4778   4633     2182
경상북도     10512  5340   4893   1701   2102      0  15586      487
경상남도      3428  1246   2524   1572   2631  20981      0      397
제주특별자치도    191    59    155    202    965    619    479        0

1972
         서울특별시  부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시    경기도  \
서울특별시        0  11768      0      0      0      0      0        0  93333
부산광역시    18260      0      0      0      0      0      0        0   4788
대구광역시        0      0      0      0      0      0      0        0      0
인천광역시        0      0      0      0      0      0      0        0      0
광주광역시        0      0      0      0      0      0      0        0      0
대전광역시        0      0      0      0      0      0      0        0      0
울산광역시        0      0      0      0      0      0      0        0      0
세종특별자치시      0      0      0      0      0      0      0        0      0
경기도      90470   4734      0      0      0      0      0        0      0
강원도      32497   3611      0      0      0      0      0        0  14970
충청북도     29513   2424      0      0      0      0      0        0   9936
충청남도     40803   3857      0      0      0      0      0        0  17362
전라북도     39692   4764      0      0      0      0      0        0  11203
전라남도     41044   8170      0      0      0      0      0        0  13381
경상북도     41532  19197      0      0      0      0      0        0  10699
경상남도     27238  56514      0      0      0      0      0        0   6076
제주특별자치도   2339   1374      0      0      0      0      0        0    420

           강원도   충청북도   충청남도   전라북도   전라남도   경상북도   경상남도  제주특별자치도
서울특별시    13561  10853  23406  16583  20157  22073  11263     1617
부산광역시     2062   1221   1801   1733   3446  12697  26556     1007
대구광역시        0      0      0      0      0      0      0        0
인천광역시        0      0      0      0      0      0      0        0
광주광역시        0      0      0      0      0      0      0        0
대전광역시        0      0      0      0      0      0      0        0
울산광역시        0      0      0      0      0      0      0        0
세종특별자치시      0      0      0      0      0      0      0        0
경기도       9654   5775  11730   4261   5780   9208   4884      572
강원도          0   6232   3571   1408   1931  12269   3054      269
충청북도      4951      0   8602   1005    676   5790   1351      147
충청남도      3585   6776      0   4997   1907   5549   2051      243
전라북도      1920   1359   6527      0   6299   3370   2136      434
전라남도      2389   1205   3415   7585      0   3572   3372     2063
경상북도      8500   4498   3633   1742   1991      0  13236      471
경상남도      2306   1403   1836   1232   2150  16913      0      371
제주특별자치도    150    116    238    141    857    468    440        0

1973
          서울특별시  부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시     경기도  \
서울특별시         0  16307      0      0      0      0      0        0  143234
부산광역시     24251      0      0      0      0      0      0        0    7364
대구광역시         0      0      0      0      0      0      0        0       0
인천광역시         0      0      0      0      0      0      0        0       0
광주광역시         0      0      0      0      0      0      0        0       0
대전광역시         0      0      0      0      0      0      0        0       0
울산광역시         0      0      0      0      0      0      0        0       0
세종특별자치시       0      0      0      0      0      0      0        0       0
경기도      107177   6146      0      0      0      0      0        0       0
강원도       40922   4399      0      0      0      0      0        0   17183
충청북도      36260   3353      0      0      0      0      0        0   11396
충청남도      53320   4961      0      0      0      0      0        0   22768
전라북도      55168   6476      0      0      0      0      0        0   12496
전라남도      59763  11090      0      0      0      0      0        0   15728
경상북도      61129  26186      0      0      0      0      0        0   14129
경상남도      39862  81930      0      0      0      0      0        0    8832
제주특별자치도    7411   1742      0      0      0      0      0        0     641

           강원도   충청북도   충청남도   전라북도   전라남도   경상북도   경상남도  제주특별자치도
서울특별시    16481  12617  27139  18642  22160  27531  15193     2456
부산광역시     2356   1351   2255   1861   3996  16373  37134     1229
대구광역시        0      0      0      0      0      0      0        0
인천광역시        0      0      0      0      0      0      0        0
광주광역시        0      0      0      0      0      0      0        0
대전광역시        0      0      0      0      0      0      0        0
울산광역시        0      0      0      0      0      0      0        0
세종특별자치시      0      0      0      0      0      0      0        0
경기도      10628   5484  12829   4935   6457  10379   5582      680
강원도          0   7370   3491   1735   2592  14990   3661      406
충청북도      5655      0   9624   1222   1212   6458   1901      161
충청남도      4553   8162      0   6292   2876   6175   2520      367
전라북도      2145   1181   7900      0   8881   3898   2433      429
전라남도      3456   1108   3711   9641      0   4039   4121     2701
경상북도     11059   4759   4422   1912   2725      0  18595      513
경상남도      2677   1012   1920   1480   2942  20947      0      630
제주특별자치도    184     82    235    210    952    576    571        0

1974
          서울특별시  부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시     경기도  \
서울특별시         0  22220      0      0      0      0      0        0  149045
부산광역시     30284      0      0      0      0      0      0        0    6589
대구광역시         0      0      0      0      0      0      0        0       0
인천광역시         0      0      0      0      0      0      0        0       0
광주광역시         0      0      0      0      0      0      0        0       0
대전광역시         0      0      0      0      0      0      0        0       0
울산광역시         0      0      0      0      0      0      0        0       0
세종특별자치시       0      0      0      0      0      0      0        0       0
경기도      107518   9463      0      0      0      0      0        0       0
강원도       42649   6724      0      0      0      0      0        0   18448
충청북도      40154   4763      0      0      0      0      0        0   12209
충청남도      61038   7521      0      0      0      0      0        0   24896
전라북도      60827   9731      0      0      0      0      0        0   13411
전라남도      69361  18149      0      0      0      0      0        0   17465
경상북도      67374  40070      0      0      0      0      0        0   15272
경상남도      44321  99493      0      0      0      0      0        0    8149
제주특별자치도    8470   2222      0      0      0      0      0        0     702

           강원도   충청북도   충청남도   전라북도   전라남도   경상북도   경상남도  제주특별자치도
서울특별시    15479  11786  25509  16647  21314  26902  16771     2261
부산광역시     2291   1253   2212   1764   4139  16203  41052     1132
대구광역시        0      0      0      0      0      0      0        0
인천광역시        0      0      0      0      0      0      0        0
광주광역시        0      0      0      0      0      0      0        0
대전광역시        0      0      0      0      0      0      0        0
울산광역시        0      0      0      0      0      0      0        0
세종특별자치시      0      0      0      0      0      0      0        0
경기도       9311   5174  11819   4109   5779  11731   9509      695
강원도          0   8105   3339   1418   1989  13647   6727      283
충청북도      5513      0  10482    853    964   6651   3321      136
충청남도      3217   8227      0   5253   2260   6342   4450      371
전라북도      1959   1197   8005      0   8935   4718   4124      391
전라남도      2926   1322   3851   8524      0   4721   6540     3231
경상북도     10102   4705   4464   1624   2412      0  23425      514
경상남도      2557   1208   2273   1242   2642  22550      0      565
제주특별자치도    194    115    285    219   1133    625   1208        0

1975
          서울특별시   부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시     경기도  \
서울특별시         0   27515      0      0      0      0      0        0  253705
부산광역시     59914       0      0      0      0      0      0        0   15314
대구광역시         0       0      0      0      0      0      0        0       0
인천광역시         0       0      0      0      0      0      0        0       0
광주광역시         0       0      0      0      0      0      0        0       0
대전광역시         0       0      0      0      0      0      0        0       0
울산광역시         0       0      0      0      0      0      0        0       0
세종특별자치시       0       0      0      0      0      0      0        0       0
경기도      207641   12408      0      0      0      0      0        0       0
강원도       74065    8563      0      0      0      0      0        0   34318
충청북도      72525    7790      0      0      0      0      0        0   27810
충청남도     115149   10430      0      0      0      0      0        0   53818
전라북도     118342   15304      0      0      0      0      0        0   32840
전라남도     125081   24302      0      0      0      0      0        0   41305
경상북도     124398   66996      0      0      0      0      0        0   29801
경상남도      81239  131273      0      0      0      0      0        0   19762
제주특별자치도   14272    3206      0      0      0      0      0        0    1811

           강원도   충청북도   충청남도   전라북도   전라남도   경상북도   경상남도  제주특별자치도
서울특별시    27837  21073  51205  34411  46610  46177  23150     3440
부산광역시     5100   2826   6467   4423  11486  30395  65865     1861
대구광역시        0      0      0      0      0      0      0        0
인천광역시        0      0      0      0      0      0      0        0
광주광역시        0      0      0      0      0      0      0        0
대전광역시        0      0      0      0      0      0      0        0
울산광역시        0      0      0      0      0      0      0        0
세종특별자치시      0      0      0      0      0      0      0        0
경기도      17354  10913  28118   9399  13904  18490  12599     1331
강원도          0  15129   7909   2942   4199  18758   7754      504
충청북도     11745      0  24142   3122   2761  12886   5215      246
충청남도      7634  17313      0  13505   6488  14030   7923      707
전라북도      6016   3096  18387      0  21522   9915   7758     1005
전라남도      6969   3300  11274  20230      0  10416  11648     5443
경상북도     22080   9232  11766   4888   6199      0  44177      986
경상남도      7472   2650   6651   3470   8331  50864      0     1160
제주특별자치도    728    185    554    415   2808   1123   1517        0

1976
          서울특별시   부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시     경기도  \
서울특별시         0   23732      0      0      0      0      0        0  202276
부산광역시     43416       0      0      0      0      0      0        0   10705
대구광역시         0       0      0      0      0      0      0        0       0
인천광역시         0       0      0      0      0      0      0        0       0
광주광역시         0       0      0      0      0      0      0        0       0
대전광역시         0       0      0      0      0      0      0        0       0
울산광역시         0       0      0      0      0      0      0        0       0
세종특별자치시       0       0      0      0      0      0      0        0       0
경기도      144524   11179      0      0      0      0      0        0       0
강원도       52651    8290      0      0      0      0      0        0   24750
충청북도      50313    6885      0      0      0      0      0        0   18001
충청남도      81692    9145      0      0      0      0      0        0   33809
전라북도      83263   11784      0      0      0      0      0        0   19878
전라남도      94332   23475      0      0      0      0      0        0   26918
경상북도      87716   49645      0      0      0      0      0        0   21839
경상남도      64652  112811      0      0      0      0      0        0   14139
제주특별자치도    9900    2776      0      0      0      0      0        0    1351

           강원도   충청북도   충청남도   전라북도   전라남도   경상북도   경상남도  제주특별자치도
서울특별시    25927  18029  41447  29835  46251  40376  22400     3623
부산광역시     4485   2348   4149   3756  11509  27465  57329     1832
대구광역시        0      0      0      0      0      0      0        0
인천광역시        0      0      0      0      0      0      0        0
광주광역시        0      0      0      0      0      0      0        0
대전광역시        0      0      0      0      0      0      0        0
울산광역시        0      0      0      0      0      0      0        0
세종특별자치시      0      0      0      0      0      0      0        0
경기도      15641   8721  21553   8506  14495  14853   9742     1096
강원도          0   9661   4577   1952   4009  15512   5811      376
충청북도      8027      0  14174   1837   2784   8872   3964      162
충청남도      4411  11550      0   8058   5090   9160   5674      459
전라북도      3221   1903  11401      0  16195   5627   5450      503
전라남도      3883   1933   7080  12494      0   6849   8048     3234
경상북도     14349   7633   7908   3122   5972      0  33984      849
경상남도      4201   2267   4281   2508   7152  37658      0      848
제주특별자치도    295    205    493    392   2608   1141    863        0

1977
          서울특별시   부산광역시  대구광역시  인천광역시  광주광역시  대전광역시  울산광역시  세종특별자치시     경기도  \
서울특별시         0   27213      0      0      0      0      0        0  207722
부산광역시     42685       0      0      0      0      0      0        0   11070
대구광역시         0       0      0      0      0      0      0        0       0
인천광역시         0       0      0      0      0      0      0        0       0
광주광역시         0       0      0      0      0      0      0        0       0
대전광역시         0       0      0      0      0      0      0        0       0
울산광역시         0       0      0      0      0      0      0        0       0
세종특별자치시       0       0      0      0      0      0      0        0       0
경기도      154021    9599      0      0      0      0      0        0       0
강원도       52262    7498      0      0      0      0      0        0   26545
충청북도      50472    7178      0      0      0      0      0        0   18693
충청남도      76119    9924      0      0      0      0      0        0   35677
전라북도      75212   13927      0      0      0      0      0        0   22033
전라남도      87967   27509      0      0      0      0      0        0   28351
경상북도      79224   55502      0      0      0      0      0        0   22494
경상남도      52106  111801      0      0      0      0      0        0   13233
제주특별자치도   10103    2880      0      0      0      0      0        0    1516

           강원도   충청북도   충청남도   전라북도   전라남도   경상북도   경상남도  제주특별자치도
서울특별시    25415  17478  43993  28444  43430  41155  27393     3551
부산광역시     4877   2835   4584   4549  12931  28592  71107     1875
대구광역시        0      0      0      0      0      0      0        0
인천광역시        0      0      0      0      0      0      0        0
광주광역시        0      0      0      0      0      0      0        0
대전광역시        0      0      0      0      0      0      0        0
울산광역시        0      0      0      0      0      0      0        0
세종특별자치시      0      0      0      0      0      0      0        0
경기도      15136   8624  23089   9104  13299  16871  10846      935
강원도          0   8070   4745   1943   3576  16618   7682      324
충청북도      7406      0  15970   1932   2737   9177   4523      155
충청남도      4253  11424      0   9081   4976   9050   5772      415

In [105]:
df1999

,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
서울특별시,0,17733,11031,54143,13429,17463,4563,0,471841,25741,17334,26726,25007,29161,16604,13690,6171
부산광역시,27100,0,6773,4028,1942,3107,13688,0,20332,3255,2398,3508,2822,7334,13274,66261,2751
대구광역시,16322,6566,0,2199,562,2528,3476,0,11978,2275,1939,1987,1119,1246,61647,8853,801
인천광역시,48592,3256,1942,0,2388,3525,1054,0,70792,6661,4420,9150,5437,6516,3804,3161,1122
광주광역시,17481,1403,456,2388,0,1621,378,0,11506,952,711,1135,6694,56532,797,1263,902
대전광역시,17672,2453,2219,3200,1460,0,726,0,17471,3049,9891,22559,5438,2310,3402,2255,475
울산광역시,6297,11621,3387,1172,568,1028,0,0,5350,1526,1153,1955,1085,1508,8245,8137,477
세종특별자치시,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
경기도,340653,13143,8909,64569,10306,16542,3979,0,0,28366,21991,34233,20773,22419,15604,12241,4562
강원도,28384,2945,2143,6176,1061,3208,1289,0,30092,0,5593,3646,1930,2179,5004,2971,611
충청북도,18923,1986,1797,4293,773,11257,886,0,22144,5390,0,7828,1918,1501,4403,1902,395
충청남도,28912,2615,1619,8860,1149,28084,1052,0,34752,3078,7448,0,5708,2549,3030,2611,646
전라북도,31789,2086,1037,5719,7213,5914,838,0,24897,1727,2001,5659,0,7547,1631,2191,811
전라남도,37648,6688,1155,7903,63049,2793,1464,0,29090,2403,1713,2973,7763,0,2692,5073,1780
경상북도,23112,11959,63246,4310,848,3729,8830,0,20095,5314,4668,3584,1720,2614,0,9600,979
경상남도,19641,58311,10154,3547,1438,2886,8996,0,17551,3172,2266,3601,2416,4981,10380,0,1710
제주특별자치도,6989,2451,763,1123,886,504,390,0,4533,525,424,654,781,1637,886,1466,0

In [107]:
num_to_seoul

[95388,
 95423,
 90470,
 107177,
 107518,
 207641,
 144524,
 154021,
 164771,
 168188,
 231651,
 187880,
 196664,
 230913,
 227920,
 226354,
 233258,
 307770,
 410274,
 345173,
 282914,
 256270,
 253605,
 256049,
 258897,
 262893,
 290660,
 298306,
 276685,
 340653,
 312616,
 319738,
 321390,
 325065,
 289817,
 311892,
 357818,
 336648,
 323515,
 317952,
 285963,
 272407,
 254175,
 246464,
 249701,
 239557,
 234357,
 234448]

In [38]:
num_to_jeju

[3881,
 4885,
 2339,
 7411,
 8470,
 14272,
 9900,
 10103,
 10757,
 9557,
 6420,
 7054,
 7178,
 8714,
 8435,
 7219,
 6844,
 6692,
 6764,
 7066,
 6667,
 6290,
 5788,
 6210,
 5635,
 5776,
 6070,
 6174,
 6045,
 6989,
 6767,
 6271,
 6492,
 6641,
 6290,
 6129,
 6701,
 6969,
 6100,
 5955,
 5632,
 5268,
 5612,
 5410,
 5739,
 6351,
 6634,
 7209]

In [108]:
num_to_seoul.index(max(num_to_seoul))

18

In [109]:
# 서울로 가장 많이 전입한 년도 찾기
max_year1 = migrationDF.columns[num_to_seoul.index(max(num_to_seoul))]

In [110]:
max_year1

'1988'

In [111]:
migrationDF[max_year1]

(전출지별, 전입지별)          이동자수 (명)
(전국, 전국)               9969020
(전국, 서울특별시)            3388387
(전국, 부산광역시)             892506
(전국, 대구광역시)             579187
                        ...
(제주특별자치도, 전라북도)            502
(제주특별자치도, 전라남도)           1736
(제주특별자치도, 경상북도)            572
(제주특별자치도, 경상남도)           1623
(제주특별자치도, 제주특별자치도)       51969
Name: 1988, Length: 325, dtype: object

In [43]:
admin_dis

['전국',
 '서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [112]:
type(migrationDF[max_year1])

pandas.core.series.Series

In [113]:
migrationDF[max_year1].replace('-', 0, inplace = True)

In [114]:
city_to_seoul = []
for ind in range(2, len(admin_dis)):
    city_to_seoul.append((admin_dis[ind], migrationDF[max_year1][(admin_dis[ind], '서울특별시')]))

In [115]:
city_to_seoul

[('부산광역시', 37368),
 ('대구광역시', 22080),
 ('인천광역시', 57870),
 ('광주광역시', 25298),
 ('대전광역시', 0),
 ('울산광역시', 0),
 ('세종특별자치시', 0),
 ('경기도', 410274),
 ('강원도', 47034),
 ('충청북도', 37344),
 ('충청남도', 74634),
 ('전라북도', 68649),
 ('전라남도', 82769),
 ('경상북도', 46581),
 ('경상남도', 40024),
 ('제주특별자치도', 6764)]

In [116]:
num1 = []
for i, j in city_to_seoul:
    num1.append(j)

In [117]:
max(num1)

410274

In [118]:
city_to_seoul[num1.index(max(num1))][0]

'경기도'

In [119]:
num_to_jeju.index(max(num_to_jeju))

47

In [120]:
# 제주로 가장 많이 전입한 년도 찾기
max_year2 = migrationDF.columns[num_to_jeju.index(max(num_to_jeju))]

In [121]:
max_year2

'2017'

In [122]:
migrationDF[max_year2].replace('-', 0, inplace = True)

In [132]:
city_to_jeju = []
for ind in range(1, len(admin_dis)-1):
    city_to_jeju.append((admin_dis[ind], migrationDF[max_year2][(admin_dis[ind], '제주특별자치도')]))

In [133]:
city_to_jeju

[('서울특별시', 10404),
 ('부산광역시', 2993),
 ('대구광역시', 1631),
 ('인천광역시', 2713),
 ('광주광역시', 1191),
 ('대전광역시', 835),
 ('울산광역시', 815),
 ('세종특별자치시', 263),
 ('경기도', 11255),
 ('강원도', 945),
 ('충청북도', 1009),
 ('충청남도', 1270),
 ('전라북도', 1114),
 ('전라남도', 1424),
 ('경상북도', 1357),
 ('경상남도', 2533)]

In [134]:
num2 = []
for i, j in city_to_jeju:
    num2.append(j)

In [135]:
max(num2)

11255

In [136]:
city_to_jeju[num2.index(max(num2))][0]

'경기도'