### [DataFrame 살펴보기]
* 데이터를 테이블 즉, 표 형태로 저장하는 자료구조
* 구성 : 행 + 열
* 생성 : pandas.DataFrame() 생성자 메서드

#### (1) 모듈 로딩

In [83]:
from pandas import DataFrame

#### (2) 데이터 준비

In [84]:
data = [[11, 22, 33], [44, 55, 66], [77, 88, 99]]

#### (3) DataFrame으로 저장 즉, DataFrame 객체 생성

In [85]:
df1 = DataFrame(data)
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99

#### (4) DataFrame의 속성 읽기 => 객체변수명.속성명

In [86]:
df1.index

RangeIndex(start=0, stop=3, step=1)

In [87]:
df1.columns

RangeIndex(start=0, stop=3, step=1)

In [88]:
df1.values

array([[11, 22, 33],
       [44, 55, 66],
       [77, 88, 99]], dtype=int64)

In [89]:
# 데이터의 차원 정보 n-dimension
df1.ndim

2

In [90]:
# 컬럼별 데이터 타입
df1.dtypes

0    int64
1    int64
2    int64
dtype: object

#### (5) 원소 읽기 ==> 행과 열 저장 ==> 1개 원소

 - 컬럼 즉 열 (column) 읽기 ==> 객체변수명[인덱스]

In [91]:
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99

In [92]:
df1[0]

0    11
1    44
2    77
Name: 0, dtype: int64

In [93]:
df1[1]

0    22
1    55
2    88
Name: 1, dtype: int64

In [94]:
df1[2]

0    33
1    66
2    99
Name: 2, dtype: int64

In [95]:
# 컬럼 변경
df1.columns = ['A', 'B', 'C']

In [96]:
df1['A']

0    11
1    44
2    77
Name: A, dtype: int64

In [97]:
df1.A

0    11
1    44
2    77
Name: A, dtype: int64

In [98]:
# df1[0] 컬럼 레이블 인덱싱 후 정수 인덱스로 출력 안된다.

In [99]:
df1.columns = [0, 1, 2]

In [100]:
# df1.0은 안된다.

In [101]:
df1[1][1]

55

- 로우 즉 행 (row) 읽기 ==> 방법 2가지
  * 위치 인덱스로 읽기 : 객체변수명.iloc[인덱스]
  * 레이블 인덱스로 읽기 : 객체변수명.loc[인덱스]

In [102]:
df1.index = ['one', 'two', 'three']

In [103]:
df1.loc['one']

0    11
1    22
2    33
Name: one, dtype: int64

In [104]:
df1.iloc[0]

0    11
1    22
2    33
Name: one, dtype: int64

#### (6) 모든 원소를 한 번에 한 개씩만 출력

In [105]:
df1

        0   1   2
one    11  22  33
two    44  55  66
three  77  88  99

In [106]:
for i in range(3):
    for j in df1[i]:
        print(j)

11
44
77
22
55
88
33
66
99

- 객체변수명.iloc[행인덱스, 열인덱스] / 객체변수명.loc[행레이블, 열인덱스 or 열레이블]

In [107]:
df1.iloc[0,0], df1.iloc[0,2], df1.iloc[1, 0], df1.iloc[1, 2]

(11, 33, 44, 66)

In [108]:
df1.loc['one', 0], df1.loc['one', 2]

(11, 33)

In [109]:
# 컬럼명 변경 => 객체변수명.columns = 새로운컬럼명
df1.columns = ['A', 'B', 'C']
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99

In [110]:
df1.loc['one', 'B'], df1.loc['two', 'C'], df1.loc['one']['B'], df1.loc['two']['C']

(22, 66, 22, 66)

In [111]:
df1.iloc[0, 1], df1.iloc[1, 2], df1.iloc[0][1], df1.iloc[1][2]

C:\Users\xnnly\AppData\Local\Temp\ipykernel_7284\3859963798.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1.iloc[0, 1], df1.iloc[1, 2], df1.iloc[0][1], df1.iloc[1][2]

(22, 66, 22, 66)

In [112]:
df1.iloc[0]

A    11
B    22
C    33
Name: one, dtype: int64

In [113]:
df1['B']

one      22
two      55
three    88
Name: B, dtype: int64

In [114]:
df1.index, df1.columns

(Index(['one', 'two', 'three'], dtype='object'),
 Index(['A', 'B', 'C'], dtype='object'))

In [115]:
df1.shape[0], df1.shape[1]

(3, 3)

- iloc를 활용한 모든 원소 출력 ==> 행과 열의 번호

In [116]:
for row in range(df1.shape[0]):
    for col in range(df1.shape[1]):
        print(row, col, df1.iloc[row, col])

0 0 11
0 1 22
0 2 33
1 0 44
1 1 55
1 2 66
2 0 77
2 1 88
2 2 99

- loc를 활용한 모든 원소 출력 ==> 행 레이블/이름과 열 레이블/이름

In [117]:
for row in df1.index:
    print(row)
    for col in df1.columns:
        print('----', col)

one
---- A
---- B
---- C
two
---- A
---- B
---- C
three
---- A
---- B
---- C

#### [문제] one, three 행을 선택 후 저장

In [120]:
df1.loc[['one', 'three']]

        A   B   C
one    11  22  33
three  77  88  99

In [123]:
# 행이 한개라도 리스트에 넣어서 출력하면 시리즈가 아니라 데이터프레임이다.
type(df1.loc['one']), type(df1.loc[['one']]), type(df1.loc[['one', 'three']])

(pandas.core.series.Series,
 pandas.core.frame.DataFrame,
 pandas.core.frame.DataFrame)