### [ Series 객체 원소 인덱싱 & 슬라이싱]

#### (1) 모듈 로딩

In [ ]:
from pandas import Series

#### (2) 데이터 준비

In [5]:
datas = {'name' : '홍길동', 'age' : 12, 'job' : '도적'}

#### (3) Series 객체 생성

In [6]:
sr1 = Series(datas)

In [7]:
sr1

name    홍길동
age      12
job      도적
dtype: object

#### (3) 인덱싱으로 원소 읽기

- => 1개 원소 읽기

In [11]:
sr1['age'], sr1[1], sr1.index

C:\Users\xnnly\AppData\Local\Temp\ipykernel_13364\4203815686.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sr1['age'], sr1[1], sr1.index

(12, 12, Index(['name', 'age', 'job'], dtype='object'))

- => 2개 원소 읽기

In [ ]:
# 이름과 직업 데이터 읽기
sr1['name'], sr1['job'], sr1[0], sr1[2]

C:\Users\xnnly\AppData\Local\Temp\ipykernel_13364\2570139617.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sr1['name'], sr1['job'], sr1[0], sr1[2]

('홍길동', '도적', '홍길동', '도적')

In [20]:
# 이름과 직업 데이터 읽기 ==> 리스트 단위로 읽기
ret = sr1[['name', 'job']]
ret2 = sr1[[0, 2]]
type(ret), ret

C:\Users\xnnly\AppData\Local\Temp\ipykernel_13364\3023805520.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ret2 = sr1[[0, 2]]

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

In [21]:
type(ret2), ret2

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

#### (4) 슬라이싱으로 원소 읽기

* 위치 인덱스로 슬라이싱

In [22]:
# 위치 인덱스로 슬라이싱
sr1[:2]

name    홍길동
age      12
dtype: object

In [23]:
sr1[:-1]

name    홍길동
age      12
dtype: object

In [24]:
sr1[:2]

name    홍길동
age      12
dtype: object

In [25]:
sr1[:]

name    홍길동
age      12
job      도적
dtype: object

* 레이블 인덱스로 슬라이싱

In [26]:
sr1['name' : 'job']  # 시작 <= ~ <= 끝 == sr1[:3]

name    홍길동
age      12
job      도적
dtype: object

In [27]:
sr1['name' : 'age']  # 시작 <= ~ <= 끝  == sr1[:2]

name    홍길동
age      12
dtype: object